* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(20, 20, 26);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 80px;
  width: 80px;
}

.logo h2 {
  color: #524f4f;
  margin-top: 10px;
}

.amount {
  margin-top: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #524f4f;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 10px 25px;
  border-radius: 10px;
  outline: none;
  /* border: none; */
}

div {
  margin-bottom: 20px;
}

input:focus,
select:focus {
  border: 2px solid blue;
}

.result {
  margin-top: 40px;
  text-align: center;
  color: rgb(29, 46, 146);
}

.result p:first-child {
  font-size: 14px;
  margin-bottom: 5px;
  color: #524f4f;
}

.result span {
  font-weight: 800;
}